baseURL = 'http://example.org/'
languageCode = 'en-us'
title = "Legion7 Hacker's Team"
theme = 'paper'

[menu]

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10
  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 10